
# Created by https://www.gitignore.io/api/java,gradle,intellij
# Edit at https://www.gitignore.io/?templates=java,gradle,intellij

### Intellij ###
.idea

# Gradle
.gradle
gradle
gradlew
gradlew.bat
build

# MacOS
.DS_Store